.dark {
  background-color: #2a2a3de6; }
  .dark .page-home .overlay {
    background-color: rgba(8, 40, 44, 0.675); }
  .dark .page-title h2 {
    color: #09031bd8; }
  .dark .page-title .title-bg {
    color: rgba(29, 44, 68, 0.237); }
  .dark .section-title h3::before {
    background-color: rgba(30, 24, 24, 0.345); }
  .dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6,
  .dark .about-author .author-desc p {
    color: rgb(244, 239, 239); }
  .dark .service-hex .st0 {
    fill: transparent; }
  .dark .service-hex:hover .st0 {
    fill: rgb(245, 231, 231); }
  .dark .testimonials .text,
  .dark .btn-border {
    border-color: #191b1f; }
    
